@light-green: #009900;
@dark-green: darken(@light-green, 12%);
@light-gray: #dddddd;
@white: #ffffff;

@critical: #cc3300;
@warning: #ffb84d;
@success: #33cc33;

.jumbotron {
  padding: 60px 0px 10px 0px;
  background: @light-green;
  color: @white;
}

#app-title {
  font-size: 30px;
  padding-left: 10px;
}

.navbar-inverse {
  background: @dark-green;
  color: @white;

  .navbar-brand {
     &:hover {
       color: @white;
     }
  }

  #mynavbar > ul > li > a {
     &:hover {
       background: @light-gray;
       color: @dark-green;
     }
  }
}

.nav-tabs > li > a {
  padding: 10px 8px 10px 8px;
}

.row-header {
  color: @white;
}

.row-content {
  padding-top: 10px;
  min-height: 600px;
}

.row-footer {
  background-color: @dark-green;
  padding-top: 10px;
  color: @white;
}

.row-about {
  padding-top: 10px;
  padding-bottom: 10px;
}

[id^=scan-item-message] {
  //font-family: monospace;
  font-size: 12px;
}

.tab-content {
  border-bottom: 1px solid @light-gray;
  border-left: 1px solid @light-gray;
  border-right: 1px solid @light-gray;
  padding: 10px;
}

.label-as-badge {
  border-radius: 1em;
}

.copyright {
  text-align: center;
}

.list-group-item:hover {
  opacity: .8;
}

.scan-icon-success {
  color: @success;
}

.scan-icon-warning {
  color: @warning;
}

.scan-icon-danger {
  color: @critical;
}

.progress { height: 8px; }

.container-login {
  background: url('/images/login_background.jpg');
}

.login-title {
  font-size: 25px;
  color: @light-green;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}

.login-form {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  width: 400px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  background-color: @light-gray;
}
