.jumbotron {
  padding: 60px 15px 5px 0px;
  margin: 0px auto;
  background: #009900;
  color: #ffffff;
}
#app-title {
  font-size: 30px;
  padding-left: 10px;
}
.navbar-inverse {
  background: #005c00;
  color: #ffffff;
}
.navbar-inverse .navbar-brand:hover {
  color: #ffffff;
}
.navbar-inverse #mynavbar > ul > li > a:hover {
  background: #dddddd;
  color: #005c00;
}
.row-header {
  padding: 10px 0px;
  margin: 0;
  color: #ffffff;
}
.row-content {
  margin: 0px auto;
  padding: 10px 0px;
  min-height: 600px;
}
.row-footer {
  background-color: #005c00;
  padding: 10px 0px;
  color: #ffffff;
}
.row-about {
  padding: 10px 0px;
}
[id^=scan-item-message] {
  font-size: 12px;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.label-as-badge {
  border-radius: 1em;
}
.copyright {
  text-align: center;
}
.list-group-item:hover {
  opacity: .8;
}
.container-login {
  background: url('/images/login_background.jpg');
}
.login-title {
  font-size: 25px;
  color: #009900;
  font-weight: bold;
  text-align: center;
  padding: 20px;
}
.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 400px;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  background-color: #dddddd;
}
