@light-green: #006600;
@dark-green: #009900;
@light-gray: #dddddd;

.jumbotron {
    padding: 75px 30px 20px 0px;
    margin: 0px auto;
    background: @dark-green;
    color: floralwhite;
}

.navbar-inverse {
  background: @light-green;
  color: floralwhite;
}

.row-content {
  margin: 0px auto;
  padding: 10px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}

.row-footer {
  background-color: @light-green;
  padding: 10px 0px;
  color: floralwhite;
}

#scan-item {
  font-family: monospace;
}

.tab-content {
  border-bottom: 1px solid @light-gray;
  border-left: 1px solid @light-gray;
  border-right: 1px solid @light-gray;
  padding: 10px;
}
