<div class="container" ng-controller="AboutController">
    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li><a ui-sref="app">Home</a></li>
                <li class="active">About Us</li>
            </ul>
        </div>
    </div>
    <div class="row row-content">
        <div class="col-xs-12">
        <h2>OOCS - Out of Compliance Scanner for Linux</h2>
        <h4>A customizable and modular security scanner for Linux</h4>
        <br>

        <p>This project is at an early stage of development and only a few modules are currently available:</p>
        <ul>
            <li><strong>environment</strong>:
                checks the root environment</li>
            <li><strong>filesystem</strong>:
                checks for mandatory filesystems and mount options and for system files permissions</li>
            <li><strong>kernel</strong>:
                check the kernel runtime configuration</li>
            <li><strong>packages</strong>:
                make some checks on installed packages and rpm database</li>
            <li><strong>services</strong>:
                check whether a list of services are running or not</li>
            <li><strong>sudo</strong>:
                checks for root rights given to users and security issues.</li>
        </ul>

        The checks are configurable via a JSON file.
        You can found an example
        <a href="https://github.com/madrisan/pyoocs/blob/master/oocs-cfg.json"
           alt="example of a json configuration file">here</a>.
    </div>
</div>