<footer class="row row-footer">
    <div class="container">
        <div class="col-xs-12">
            <p style="padding:2px;"></p>
            <a class="btn btn-success" name="GitHub Repository"
               href="https://github.com/madrisan/pyoocs" alt="GitHub repository">
               <i class="fa fa-github fa-2x pull-left"></i>
               <span style="vertical-align:middle;">Get the code<br>on GitHub</span>
            </a>
        </div>
        <div class="col-xs-12">
            <p style="padding:2px;"></p>
            <p><span class="fa fa-copyright" aria-hidden="true">
               Copyright 2015-2016 Davide Madrisan</p>
        </div>
    </div>
</footer>
