<footer class="row row-footer">
    <div class="container">
        <p style="padding:4px;"></p>
        <div class="col-xs-12 col-xs-offset-0 col-sm-12 col-sm-offset-0">
            <a class="btn btn-lg btn-success" name="GitHub"
               href="https://github.com/madrisan/pyoocs" alt="GitHub site">
               <i class="fa fa-github fa-2x pull-left"></i>
               <span style="vertical-align:middle;">Get the code<br>on GitHub</span>
            </a>
        </div>
        <div class="col-xs-12">
            <p style="padding:4px;"></p>
            <p style="text-align:center"><span class="fa fa-copyright" aria-hidden="true">
               Copyright 2015 Davide Madrisan</p>
        </div>
    </div>
</footer>
