<div class="container" ng-controller="ScanController">

    <div class="row col-xs-12">
        <ul class="breadcrumb">
            <li class="active">Home</li>
            <li><a ui-sref="app.about">About</a></li>
        </ul>
    </div>

    <div class="row row-content col-xs-12" ng-if="!showScan">
        <h3>{{message}}</h3>
    </div>

    <div class="row row-content col-xs-12" ng-if="showScan">

        <h1><span class="label label-default">Linux host "{{hostname}}"</span></h1>
        <p style="padding:4px;"></p>
        <p>{{distribution.description}}</p>

        <p style="padding:10px;"></p>

        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"
                    ng-class="{active:isSelected(1)}">
                    <a ng-click="select(1)"
                       aria-controls="all deviations" role="tab">All Tests</a>
                </li>
                <li role="presentation"
                    ng-class="{active:isSelected(2)}">
                    <a ng-click="select(2)"
                       aria-controls="critical deviations" role="tab">Critical</a>
                </li>
                <li role="presentation"
                    ng-class="{active:isSelected(3)}">
                    <a ng-click="select(3)"
                       aria-controls="warning deviations" role="tab">Warning</a>
                </li>
                <li role="presentation"
                    ng-class="{active:isSelected(4)}">
                    <a ng-click="select(4)"
                       aria-controls="tests passed" role="tab">Passed</a>
                </li>
            </ul>

            <div class="tab-content">

                <div ng-repeat="module in modules">
                    <p><i class="fa fa-chevron-right"></i> <strong>{{module.toUpperCase()}}</strong></p>

                    <div class="panel panel-default"
                         ng-repeat="(check, result) in getModuleData(module).checks">
                    <div class="panel-heading"><strong>{{check}}</strong></div>
                    <!--div class="panel-body">
                        <p>...</p>
                    </div-->

                    <ul class="list-group">
                        <li class="list-group-item list-group-item-danger" ng-hide="hideIssues('critical')"
                            ng-repeat="entry in result[0].critical">
                            <span class="label label-danger"><i class="fa fa-exclamation-circle"></i></span>
                            &nbsp;<span id="scan-item-message">{{entry}}</span>
                        </li>
                        <li class="list-group-item list-group-item-warning" ng-hide="hideIssues('warning')"
                            ng-repeat="entry in result[0].warning">
                            <span class="label label-warning"><i class="fa fa-question-circle"></i></span>
                            &nbsp;<span id="scan-item-message">{{entry}}</span>
                        </li>
                        <li class="list-group-item list-group-item-success" ng-hide="hideIssues('passed')"
                            ng-repeat="entry in result[0].info">
                            <span class="label label-success"><i class="fa fa-info-circle"></i></span>
                            &nbsp;<span id="scan-item-message">{{entry}}</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
</div>
