<div class="container" ng-controller="ScanController">

    <div class="row">
        <div class="col-xs-12">
            <ul class="breadcrumb">
                <li class="active">Home</li>
                <li><a ui-sref="app.about">About</a></li>
            </ul>
        </div>
    </div>

   <div class="row row-content" ng-if="!showServerList">
        <h3>{{message}}</h3>
   </div>

    <div class="row row-content" ng-if="showServerList">
        <div class="col-xs-12">

            <h3>Avalable Scan Reports</h3>
            <br>

            <div class="input-group input-group-sm col-lg-6">
                <span class="input-group-addon" id="hostname-filter">
                    <i class="fa fa-search fa-pull-left"></i>
                </span>
                <input type="text" class="form-control"
                       placeholder="Search for ..."
                       ng-model="search.hostname"
                       aria-describedby="hostname-filter">
            </div>

            <br>

            <div class="input-group input-group-sm col-lg-6">
                <ul class="list-group">
                    <div ng-repeat="srv in servers | filter:search:strict">
                        <li class="list-group-item list-group-item-{{bootstrap_label(srv.max_severity)}}">
                        <a ui-sref="app.scandetail({id: srv.urlid})">{{srv.hostname}}</a>
                        </li>
                    </div>
                </ul>
            </div>

        </div>
    </div>

</div>
